{% extends "layout.html" %}

{% block head %}
    <link href="/static/watch.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="row mt-5">
        <div class="col-lg-6" id="slider">
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="active item carousel-item text-center" data-slide-number="0">
                        <img src="/static/images/rolexgmt.jpg" class="img-watch">
                    </div>
                    <div class="item carousel-item text-center" data-slide-number="1">
                        <img src="/static/images/rolexgmt2.jpg" class="img-watch">
                    </div>
                    <div class="item carousel-item text-center" data-slide-number="2">
                        <img src="/static/images/rolexgmt3.jpg" class="img-watch">
                    </div>
                    <a class="carousel-control left pt-3" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                    <a class="carousel-control right pt-3" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                </div>
                <div class="text-center">
                    <ul class="carousel-indicators list-inline">
                        <li class="list-inline-item active">
                            <div class="img_bg">
                                <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#myCarousel">
                                    <img src="/static/images/rolexgmt.jpg" class="img-fluid">
                                </a>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="img_bg">
                                <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel">
                                    <img src="/static/images/rolexgmt2.jpg" class="img-fluid">
                                </a>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="img_bg">   
                                <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel">
                                    <img src="/static/images/rolexgmt3.jpg" class="img-fluid">
                                </a>
                            </div> 
                        </li>
                    </ul>
                </div>            
            </div>
        </div>
        <div class="col-lg-6">
            <b>Rolex GMT black II</b>
            <br>
            <p>This is a very nice watch, it is very accurate.</p>
            <br>
            <b>1600 USD</b>
        </div>        
    </div>

{% endblock %}

