/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query since this is the default in Bootstrap */

.desc-card a {
    color: black;
    text-decoration: underline;
}

.list-group-item {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}

.left-top-corner {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 60%;
    opacity: 0.8;
}
.cat-link:link {
    color: black;
}

.cat-link:visited {
    color: black;
}

.cat-link:hover {
    color: #0056b3;
}
.btn {
    text-align: left;
}


.btn-link {
    color: black;
}

.btn-link.focus, .btn-link:focus {
    text-decoration: none;
    box-shadow: none;
}

.btn-link:hover {
    color: #0056b3;
    text-decoration: none;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
   
.h-oglas {
    height: 9rem !important;
}
.display-pic {
    max-height: 8rem !important;
}

/* .title-watch {
    height: 38.4px;
} */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .h-oglas {
        height: max-content !important;
    }
    .display-pic {
        max-height: 5rem !important;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .h-oglas {
        height: 12rem !important;
    }
    .display-pic {
        max-height: 11rem !important;
    }
    .title-watch {
        height: 19.2px;
    }
    .left-top-corner {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        width: 30%;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .navbar-nav.navbar-center {
        position: absolute; 
        left: 50%; 
        transform: translatex(-50%); 
    }
    .card-header {
        padding: 0px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    height: 6rem;
    width: 6rem;
    position: relative;
}

.image-area::before {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
    min-height: 100vh;
    background-color: #f8f9fa;
}

/* The Overlay (background) */
.overlay-o {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    overflow: scroll;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(220, 220, 220, 0.95);
}
  
/* Position the content inside the overlay */
.overlay-content-o {
    position: relative;
    top: 10%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: left; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay-o a {
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay-o a:hover, .overlay-o a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay-o .closebtn-o {
    color: #6c757d;
    position: absolute;
    top: -15px;
    right: 20px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay-o a {font-size: 20px}
    .overlay-o .closebtn-o {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}