/* // Extra small devices (portrait phones, less than 576px) */
/* // No media query since this is the default in Bootstrap */

.list-group-item {
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.1);
}

.left-top-corner {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    width: 50%;
}
.cat-link:link {
    color: black;
}

.cat-link:visited {
    color: black;
}

.cat-link:hover {
    color: #0056b3;
}
.btn {
    text-align: left;
}


.btn-link {
    color: black;
}

.btn-link.focus, .btn-link:focus {
    text-decoration: none;
    box-shadow: none;
}

.btn-link:hover {
    color: #0056b3;
    text-decoration: none;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
   

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .h-oglas {
        height: max-content !important;
    }
    .display-pic {
        max-height: 15rem !important;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .navbar-nav.navbar-center {
        position: absolute; 
        left: 50%; 
        transform: translatex(-50%); 
    }
    .card-header {
        padding: 0px;
    }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    height: 6rem;
    width: 6rem;
    position: relative;
}

.image-area::before {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
body {
    min-height: 100vh;
    background-color: #f8f9fa;
}

/*