{% extends "layout.html" %}

{% block head %}
  <link href="/static/shop.css" rel="stylesheet">
{% endblock %}

{% block body %}
  


  <div id="accordion" class="mt-4">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-secondary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="container p-3">
            
        </div>

    </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-secondary collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            General account settings
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="container p-3">
          <form>
            <div class="form-group col-md-6">
                <label for="inputFM">First Name</label>
                <input type="text" class="form-control" id="inputFM">
            </div>
            <div class="form-group col-md-6">
                <label for="inputSM">Last Name</label>
                <input type="text" class="form-control" id="inputSM">
            </div>
            <div class="form-group col-md-6">
                <label for="inputEmail">Email</label>
                <input type="email" class="form-control" id="inputEmail">
            </div>
            <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
                <label for="inputCountry">Country</label>
                <select id="inputCountry" class="form-control selectpicker" onfocus='this.size=5;'>
                    <option>Choose...</option>
                    {% for el in countryList %}
                    <option value="{{ el }}">{{ el }}</option>   
                    {% endfor %}
                </select>
            </div>
            <div class="container">
                <button type="submit" class="btn btn-primary float-right m-3">Save</button>
            </div>
        </form>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-secondary collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Change password
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="container p-3">
          <form>
            <div class="form-group">
            <input type="password" class="form-control col-md-6" id="exampleInputPassword1" placeholder="Current password">
            </div>
            <div class="form-group">
                <small>Take care to enter your new password correctly!</small>
                <input name="password1" type="password" class="form-control col-md-6" id="formGroupExampleInput4" placeholder="New password" required>                    
                <div class="form-group">
                    <div class="form-check">
                        <a onchange="seePass()">
                            <input type="checkbox" id="Check1">
                            <label class="form-check-label"  for="Check1">
                            Show Password
                            </label>
                        </a>
                    </div>
                </div>
            </div>
            <div class="container">
              <button type="submit" class="btn btn-primary float-right m-3">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
      function seePass() {
      var x = document.getElementById("formGroupExampleInput4");
          if (x.type === "password") {
              x.type = "text";
          } else {
              x.type = "password";
          }
          }
  </script>

{% endblock %}
