{% extends "layout.html" %}

{% block head %}
    <link href="/static/shop.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="d-md-none">
        <hr>
        <p class="text-center lead">
            {{ user }}
        </p>
        <hr>
    </div>
    <div class="row justify-content-md-center mt-md-4">
        <div class="card-deck">
            <div class="card mr-1 ml-md-5 d-none d-md-block">
              <div class="card-body">
                <h5 class="card-title">Who are we?</h5>
                <p class="card-text desc-card text-muted">A love for watch collecting enthusiasm blended with the wish to digitalize the pre-owned market gave birth to this community.</p>
              </div>
            </div>
            <div class="card mx-1 d-none d-md-block">
              <div class="card-body">
                <h5 class="card-title">How to sell?</h5>
                <p class="card-text desc-card text-muted">Selling on Watchoo is very simple, first please <a href="/register" class="text-muted">register</a> as a user. And then simply <a href="/sell" class="text-muted">sell your watch</a>.</p>
              </div>
            </div>
            <div class="card ml-1 mr-md-5 d-none d-md-block">
              <div class="card-body">
                <h5 class="card-title">How to buy?</h5>
                <p class="card-text desc-card text-muted">Visit the <a href="/shop" class="text-muted">shop</a> section where you can logically sort the listings and do specific searches using the provided categories.</p>
              </div>
            </div>
        </div>
        
        <div class="list-group col-md-8 px-0">
            

            {% for row in watches %}            
                {% if loop.index == 1 %}
                    <a href="#watches" class="text-reset text-decoration-none text-center lead mb-0 mt-md-4">Check out the last added watches
                        <br>
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-compact-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z"/>
                      </svg>            
                    </a>
                {% endif %}
            <span id="watches"></span>
            <a href="{{ url_for('watch', item_id = row[0]) }}" class="list-group-item list-group-item-action align-items-start h-oglas mt-2">
                <div class="row">
                    <img src="/static/images/newlisting.png" class="left-top-corner" alt="New listing">
                    <div class="col-3 text-center my-auto">
                        
                        {% for image in images if image[0] == row[0] %}
                            {% if loop.index <= 1 %}
                            <img src="{{ image[3] }}" class="img-fluid display-pic" alt="Responsive image">
                            {% endif %}
                        {% endfor %}
                                            
                    </div>
                    <div class="col-9">
                        <h6 class="card-title">{{ row[1] }} - {{ row[2] }}</h6>
                        <hr class="my-2">
                        <p class="small mb-0">
                            <!-- <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tags-fill mb-1 mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M3 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 7.586 1H3zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                <path d="M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
                            </svg> Hand watches -->
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt mb-1 mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg> Ljubljana
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person mb-1 mr-1 ml-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            </svg> Private seller                          
                        </p>
                        <div class="d-flex small mt-2">
                            <div>
                                {% if row[8]|length > 60 %}
                                    {{ row[8][0:60] + "..." }}
                                {% endif %}
                                {% if row[8]|length < 60 %}
                                    {{ row[8] }}
                                {% endif %}
                            </div>
                            <!-- <div>
                                <p class="mb-0">Movement:</p>
                                <p class="mb-0">Year of production:</p>
                                <p class="mb-0">Condition:</p>
                            </div>
                            <div class="ml-4">
                                <b><p class="mb-0">{{ row[6] }}</p></b>
                                <b><p class="mb-0">{{ row[5] }}</p></b>
                                <b><p class="mb-0">{{ row[3] }}</p></b>
                            </div> -->
                            <div class="ml-auto mt-auto text-nowrap">
                                <h4 class="mb-0">{{ row[7] }} €</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}

            <!-- {% for watch in watches %}

            <a href=/watch/{{ watch[0] }} class="list-group-item list-group-item-action h-oglas mt-2 py-0">
                <div class="row h-100">
                    <div class="col-4 col-md-3 text-center my-auto px-0 px-md-2">        
                        {% for image in images if image[0] == watch[0] %}
                            {% if loop.index <= 1 %}
                            <a href="{{ url_for('watch', item_id = watch[0]) }}" ><img src="{{ image[3] }}" class="img-fluid display-pic" alt="Responsive image"></a>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-8 col-md-9 px-0 h-100">
                        <div class="card h-100 border-0">
                        <div class="card-body pb-0 pb-md-2 pt-2 px-2 px-md-3">
                        <h6 class="title-watch">
                        </h6>
                        <hr class="my-2 d-none d-md-block"></hr>
                        <div class="small row mb-0 mt-auto">                                        
                            <div class="col-12 col-md-auto">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person mb-1 mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fillRule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                </svg> Private seller
                            </div>
                            <div class="col-12 col-md-auto">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt mb-1 mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fillRule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                </svg> Ljubljana 
                            </div>                         
                        </div>
                        <div class="small mt-4 d-none d-md-flex">
                            <div>
                                <p class="mb-0">Movement:</p>
                                <p class="mb-0">Year of production:</p>
                                <p class="mb-0">Condition:</p>
                            </div>
                            <div class="ml-4">
                                <b><p class="mb-0">{ watch[6] }</p></b>
                                <b><p class="mb-0">{ watch[5] }</p></b>
                                <b><p class="mb-0">{ watch[3] }</p></b>
                            </div>
                            <div class="ml-auto mt-auto text-nowrap">
                                <h4 class="mb-0">{ watch[7] } €</h4>
                            </div>
                        </div>
                        <div class="mt-auto text-nowrap d-md-none">
                                <h4 class="mb-0 pb-2 text-right">{ watch[7] } €</h4>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
            </a>
            {% endfor %} -->

        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-secondary my-5" href="/shop" role="button">Show more »</a>
    </div>


{% endblock %}

{% block script %}
<script>
    // Select all links with hashes
    $('a[href*="#"]')
    // Remove links that don't actually link to anything
    .not('[href="#"]')
    .not('[href="#0"]')
    .click(function(event) {
        // On-page links
        if (
        location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') 
        && 
        location.hostname == this.hostname
        ) {
        // Figure out element to scroll to
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
        // Does a scroll target exist?
        if (target.length) {
            // Only prevent default if animation is actually gonna happen
            event.preventDefault();
            $('html, body').animate({
            scrollTop: target.offset().top
            }, 1000, function() {
            // Callback after animation
            // Must change focus!
            var $target = $(target);
            $target.focus();
            if ($target.is(":focus")) { // Checking if the target was focused
                return false;
            } else {
                $target.attr('tabindex','-1'); // Adding tabindex for elements not focusable
                $target.focus(); // Set focus again
            };
            });
        }
        }
    });
</script>
{% endblock %}
