{% extends "layout.html" %}

{% block head %}
    <link href="/static/shop.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row justify-content-md-center"> 
        <!-- {% if search %}
        <div class="col-8 mx-auto d-flex flex-row-reverse">
            <div class="btn-group">
                <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Newest first
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Newest ads first</a>
                    <a class="dropdown-item" href="#">Oldest ads first</a>
                    <a class="dropdown-item" href="#">Price ascending</a>
                    <a class="dropdown-item" href="#">Price descending</a>
                </div>
            </div>
        </div>
        {% endif %} -->

        <div id="myNavo" class="overlay-o">
            <a href="javascript:void(0)" class="closebtn-o" onclick="closeNav()">&times;</a>
            <div class="overlay-content-o">
                <form action="/shop/categories" method="post">
                    <div class="accordion" id="accordionExample">
                        <div class="card" type="button" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <div class="card-header" id="headingOne">
                                <p class="mb-0">
                                <span class="btn btn-link w-100" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-square mb-1 mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                        <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                      </svg> Gender
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down float-right mt-2" fill="gray" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </span>
                            </p>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                                <div class="card-body">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="genderRadio1" name="gender" class="custom-control-input">
                                        <label class="custom-control-label" for="genderRadio1">Men's/Unisex</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="genderRadio2" name="gender" class="custom-control-input">
                                        <label class="custom-control-label" for="genderRadio2">Women's</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" type="button" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                <span class="btn btn-link collapsed w-100" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tags-fill mb-1 mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M3 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 7.586 1H3zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                        <path d="M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
                                    </svg> Category
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down float-right mt-2" fill="gray" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </span>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                                <div class="card-body">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="categoryRadio1" name="category" class="custom-control-input">
                                        <label class="custom-control-label" for="categoryRadio1">Smartwatch</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="categoryRadio2" name="category" class="custom-control-input">
                                        <label class="custom-control-label" for="categoryRadio2">Chronograph</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="categoryRadio3" name="category" class="custom-control-input">
                                        <label class="custom-control-label" for="categoryRadio3">GMT watch</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="categoryRadio4" name="category" class="custom-control-input">
                                        <label class="custom-control-label" for="categoryRadio4">Diver's watch</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="categoryRadio5" name="category" class="custom-control-input">
                                        <label class="custom-control-label" for="categoryRadio5">Pilot watch</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="categoryRadio5" name="category" class="custom-control-input">
                                        <label class="custom-control-label" for="categoryRadio5">Casual</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="categoryRadio5" name="category" class="custom-control-input">
                                        <label class="custom-control-label" for="categoryRadio5">Dress watch</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" type="button" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <div class="card-header" id="headingThree">
                                <h2 class="mb-0">
                                <span class="btn btn-link collapsed w-100" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-check-fll mb-1 mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984a.5.5 0 0 0-.708-.708L7 8.793 5.854 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                                    </svg> Brands
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chevron-down float-right mt-2" fill="gray" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </span>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
                                <div class="card-body">
                                    {% for row in brands %}   
    
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="brandRadio{{ loop.index }}" name="brand" class="custom-control-input">
                                            <label class="custom-control-label" for="brandRadio{{ loop.index }}">{{ row }}</label>
                                        </div>
                                    {% endfor %}                                    
                                </div>
                            </div>
                        </div>                
                    </div>
                    <div class="row">
                        <div class="col-auto mx-auto">
                            <button type="submit" class="btn btn-secondary mt-2 px-5">Submit</button>
                        </div>
                    </div>                    
                </form>
            </div>
        </div>

        <button type="button" class="btn btn-outline-secondary w-75 mt-3 text-center mx-auto d-md-none d-sm-block" style="cursor:pointer" onclick="openNav()">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-filter" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
            </svg> Filter
        </button>
        <div class="container bg-light">
            <div class="row">               
                <div class="col-md-9 p-0">
                    
                    <div id="root"></div>
                </div>      
                
                <div class="col-md-3 mt-3 d-none d-xs-block d-sm-block">
                        <form action="/shop/categories" method="post">
                            <div class="accordion" id="accordionExample">
                                <div class="card" type="button" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <div class="card-header" id="headingOne">
                                        <p class="mb-0">
                                        <span class="btn btn-link w-100" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-square mb-1 mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                                <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                              </svg> Gender
                                        </span>
                                    </p>
                                    </div>
                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne">
                                        <div class="card-body">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="genderRadio1" name="gender" class="custom-control-input">
                                                <label class="custom-control-label" for="genderRadio1">Men's/Unisex</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="genderRadio2" name="gender" class="custom-control-input">
                                                <label class="custom-control-label" for="genderRadio2">Women's</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" type="button" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <div class="card-header" id="headingTwo">
                                        <h2 class="mb-0">
                                        <span class="btn btn-link collapsed w-100" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tags-fill mb-1 mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M3 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 7.586 1H3zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                                <path d="M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
                                            </svg> Category
                                        </span>
                                        </h2>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo">
                                        <div class="card-body">
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="categoryRadio1" name="category" class="custom-control-input">
                                                <label class="custom-control-label" for="categoryRadio1">Smartwatch</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="categoryRadio2" name="category" class="custom-control-input">
                                                <label class="custom-control-label" for="categoryRadio2">Chronograph</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="categoryRadio3" name="category" class="custom-control-input">
                                                <label class="custom-control-label" for="categoryRadio3">GMT watch</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="categoryRadio4" name="category" class="custom-control-input">
                                                <label class="custom-control-label" for="categoryRadio4">Diver's watch</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="categoryRadio5" name="category" class="custom-control-input">
                                                <label class="custom-control-label" for="categoryRadio5">Pilot watch</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="categoryRadio5" name="category" class="custom-control-input">
                                                <label class="custom-control-label" for="categoryRadio5">Casual</label>
                                            </div>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" id="categoryRadio5" name="category" class="custom-control-input">
                                                <label class="custom-control-label" for="categoryRadio5">Dress watch</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card" type="button" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <div class="card-header" id="headingThree">
                                        <h2 class="mb-0">
                                        <span class="btn btn-link collapsed w-100" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-patch-check-fll mb-1 mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01-.622-.636zm.287 5.984a.5.5 0 0 0-.708-.708L7 8.793 5.854 7.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
                                              </svg> Brands
                                        </span>
                                        </h2>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree">
                                        <div class="card-body">
                                            {% for row in brands %}   
            
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="brandRadio{{ loop.index }}" name="brand" class="custom-control-input">
                                                    <label class="custom-control-label" for="brandRadio{{ loop.index }}">{{ row }}</label>
                                                </div>
                                            {% endfor %}                                    
                                        </div>
                                    </div>
                                </div>                
                            </div>
                            <button type="submit" class="btn btn-secondary float-right mt-2">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-filter" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
                                </svg> Filter
                            </button>
                        </form>
                </div>
            </div>
        </div>
        

        <!-- class="list-group col-md-8" -->

        
    </div>
    
    <!-- <div class="row justify-content-md-center">
        <div class="list-group col-md-8">        
        {% for row in watches %}            
            <a href="{{ url_for('watch', item_id = row[0]) }}" class="list-group-item list-group-item-action align-items-start h-oglas mt-2">
                <div class="row">
                    <div class="col-3 text-center my-auto">
                        
                        {% for image in images if image[0] == row[0] %}
                            {% if loop.index <= 1 %}
                            <img src="{{ image[3] }}" class="img-fluid display-pic" alt="Responsive image">
                            {% endif %}
                        {% endfor %}
                                            
                    </div>
                    <div class="col-9">
                        <h6 class="card-title">{{ row[1] }} - {{ row[2] }}</h6>
                        <hr class="my-2">
                        <p class="small">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-tags-fill mb-1 mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M3 1a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l4.586-4.586a1 1 0 0 0 0-1.414l-7-7A1 1 0 0 0 7.586 1H3zm4 3.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                <path d="M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1v5.086z"/>
                            </svg> Hand watches
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt mb-1 mr-1 ml-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg> Ljubljana
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person mb-1 mr-1 ml-3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            </svg> Private seller                          
                        </p>
                        <div class="d-flex small mt-4">
                            <div>
                                <p class="mb-0">Movement:</p>
                                <p class="mb-0">Year of production:</p>
                                <p class="mb-0">Condition:</p>
                            </div>
                            <div class="ml-4">
                                <b><p class="mb-0">{{ row[6] }}</p></b>
                                <b><p class="mb-0">{{ row[5] }}</p></b>
                                <b><p class="mb-0">{{ row[3] }}</p></b>
                            </div>
                            <div class="ml-auto mt-auto text-nowrap">
                                <h4 class="mb-0">{{ row[7] }} €</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
    </div> -->

    <!-- <div class="row justify-content-md-center mt-4">
        <div class="list-group col-md-8">
            <a href="{{ url_for('watch', item_id = 12) }}" class="list-group-item list-group-item-action align-items-start h-oglas">
                <div class="row">
                    <div class="col-3 text-center">
                        <img src="/static/images/omega.jpg" class="img-fluid display-pic" alt="Responsive image">
                    </div>
                    <div class="col-9">
                        <h5 class="card-title">OMEGA Speedmaster 311</h5>
                        <hr class="my-2">
                        <p class="card-text">Ptuj, Štajerska.</p>
                        <p class="card-text"><small class="text-muted">19. 7. 2020</small></p>
                    </div>
                </div>
            </a>
            <a action="/watch" class="list-group-item list-group-item-action align-items-start h-oglas mt-2">
                <div class="row">
                    <div class="col-3 text-center">
                        <img src="/static/images/fossil.jpeg" class="img-fluid display-pic" alt="Responsive image">
                    </div>
                    <div class="col-9">
                        <h5 class="card-title">Fossil BQ2125 FLYNN </h5>
                        <hr class="my-2">
                        <p class="card-text">Ljubljana, Osrednjeslovenska.</p>
                        <p class="card-text"><small class="text-muted">10. 5. 2020</small></p>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action align-items-start h-oglas mt-2">
                <div class="row">
                    <div class="col-3 text-center">
                        <img src="/static/images/omega.jpg" class="img-fluid display-pic" alt="Responsive image">
                    </div>
                    <div class="col-9">
                        <h5 class="card-title">OMEGA Speedmaster 311</h5>
                        <hr class="my-2">
                        <p class="card-text">Ptuj, Štajerska.</p>
                        <p class="card-text"><small class="text-muted">19. 7. 2020</small></p>
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action align-items-start h-oglas mt-2">
                <div class="row">
                    <div class="col-3 text-center">
                        <img src="/static/images/fossil.jpeg" class="img-fluid display-pic" alt="Responsive image">
                    </div>
                    <div class="col-9">
                        <h5 class="card-title">Fossil BQ2125 FLYNN </h5>
                        <hr class="my-2">
                        <p class="card-text">Ljubljana, Osrednjeslovenska.</p>
                        <p class="card-text"><small class="text-muted">10. 5. 2020</small></p>
                    </div>
                </div>
            </a>
            <br>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="..." class="img-fluid" alt="Responsive image">
          </div>
          
        </div>
      </div>

      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="..." class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div> -->

{% endblock %}

{% block script %}
    <script>
        $(window).on('scroll',function(){
            $(document).click();
        });
    </script>

    <script>
    function openNav() {
      document.getElementById("myNavo").style.display = "block";
      console.log("sth works")
    }
    
    function closeNav() {
      document.getElementById("myNavo").style.display = "none";
    }
    </script>

    <!-- <script>
        let watches = {{ watches|tojson }};
        watches.map(x => {
            console.log(x)
        })
    </script> -->

    <!-- ... other HTML ... -->

    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- Load our React component. -->
    <script src="../static/dist/bundle.js"></script>

{% endblock %}