{% extends "layout.html" %}

{% block head %}
    <link href="/static/shop.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="row justify-content-md-center"> 
        <button type="button" class="btn btn-outline-secondary w-75 mt-3 text-center mx-auto d-md-none d-sm-block" style="cursor:pointer" onclick="openNav()">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-filter" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
            </svg> Filter
        </button>
    </div>
    <div id="root"> 
        <div class="react-space">

        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(window).on('scroll',function(){
            $(document).click();
        });
    </script>

    <script>
    function openNav() {
      document.getElementById("myNavo").style.display = "block";
    }
    
    function closeNav() {
      document.getElementById("myNavo").style.display = "none";
    }
    </script>
    
    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <!--     
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script> -->

    <!-- Load our React component. -->
    <script src="../static/dist/bundle.js"></script>

{% endblock %}