{% extends "layout.html" %}

{% block head %}
  <link href="/static/shop.css" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container" style="height: 500px; border: 1px solid black;">
    <div class="row">
      <div class="col align-self-start" style="border: 1px solid black;">
        One of three columns
      </div>
      <div class="col align-self-center" style="border: 1px solid black;">
        One of three columns
      </div>
      <div class="col align-self-end" style="border: 1px solid black;">
        One of three columns
      </div>
    </div>
  </div>
{% endblock %}
