{% extends "layout.html" %}

{% block head %}
    <link href="/static/watch.css" rel="stylesheet">
    <link href="/static/shop.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="row mt-5">
        <div class="col-lg-6 mt-2" id="slider">
            
            
            <div id="myCarousel" class="carousel slide">
                <div class="carousel-inner">
                    {% for row in image %}
                        {% if loop.index <= 1 %}

                        <div class="active item carousel-item text-center" data-slide-number="{{ loop.index }}">
                            <img src="{{ row[3] }}" class="img-watch">
                        </div>                        
                        {% else %}
                        <div class="item carousel-item text-center" data-slide-number="{{ loop.index }}">
                            <img src="{{ row[3] }}" class="img-watch">
                        </div>
                        {% endif %}  
                    {% endfor %}
                    <a class="carousel-control left pt-3" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
                    <a class="carousel-control right pt-3" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right"></i></a>
                </div>
                <div class="text-center">
                    <ul class="carousel-indicators list-inline">
                        
                        {% for row in image %}
                            {% if loop.index <= 1 %}
                                <li class="list-inline-item active">
                                    <div class="img_bg">
                                        <a id="carousel-selector-{{ loop.index - 1 }}" class="selected" data-slide-to="{{ loop.index - 1 }}" data-target="#myCarousel">
                                            <img src="{{ row[3] }}" class="img-fluid">
                                        </a>
                                    </div>
                                </li>                       
                            {% else %}
                                <li class="list-inline-item">
                                    <div class="img_bg">
                                        <a id="carousel-selector-{{ loop.index - 1 }}" class="selected" data-slide-to="{{ loop.index - 1 }}" data-target="#myCarousel">
                                            <img src="{{ row[3] }}" class="img-fluid">
                                        </a>
                                    </div>
                                </li>
                            {% endif %}                     
                        {% endfor %}
                    </ul>
                </div>            
            </div>
    </div>
        <div class="col-lg-6">
            <h1 class="mb-3 my-3 mt-md-0 mb-md-4">{{ watch[0][1] }} - {{ watch[0][2] }}</h1>

            <ul class="list-group list-group-flush">
                <li class="list-group-item shadow-none">
                    <div class="row">
                        <div class="col-12 col-md-4 mb-2 mb-md-1">
                            <b>Category</b>
                        </div>
                        <div class="col-12 col-md-8">
                            {{ watch[0][12] }}
                        </div>
                    </div>                
                </li>
                <li class="list-group-item shadow-none">
                    <div class="row">
                        <div class="col-12 col-md-4 mb-2 mb-md-1">
                            <b>Condition</b>
                        </div>
                        <div class="col-12 col-md-8">
                            {{ watch[0][3] }}
                        </div>
                    </div> 
                </li>
                <li class="list-group-item shadow-none">
                    <div class="row">
                        <div class="col-12 col-md-4 mb-2 mb-md-1">
                            <b>Year of production</b>
                        </div>
                        <div class="col-12 col-md-8">
                            {{ watch[0][5] }}
                        </div>
                    </div> 
                </li>
                <li class="list-group-item shadow-none"><div class="row">
                        <div class="col-12 col-md-4 mb-2 mb-md-1">
                            <b>Movement</b>
                        </div>
                        <div class="col-12 col-md-8">
                            {{ watch[0][6] }}
                        </div>
                    </div> 
                </li>
                <li class="list-group-item shadow-none"><div class="row">
                        <div class="col-12 col-md-4 mb-2 mb-md-1">
                            <b>Location</b>
                        </div>
                        <div class="col-12 col-md-8">
                            {{ watch[0][13] }}
                        </div>
                    </div>                     
                </li>
            </ul>
            

            <!-- <table style="width:90%;">
                <thead>
                  <tr style="border-bottom:1px solid gray">
                    <th></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="border-bottom:1px solid gray">
                    <td>Category:</td>
                    <td class="ml-5">{{ watch[0][12] }}</td>
                    </tr>
                  <tr style="border-bottom:1px solid gray">
                    <td>Condition:</td>
                    <td class="ml-5">{{ watch[0][3] }}</td>
                  </tr>
                  <tr style="border-bottom:1px solid gray">
                    <td>Year of production:</td>
                    <td class="ml-5">{{ watch[0][5] }}</td>
                  </tr>
                  <tr style="border-bottom:1px solid gray">
                    <td>Movement:</td>
                    <td class="ml-5">{{ watch[0][6] }}</td>
                  </tr>
                  <tr style="border-bottom:1px solid gray">
                    <td>Location:</td>
                    <td class="ml-5">{{ watch[0][13] }}</td>
                  </tr>
                </tbody>
            </table> -->
            
            <!-- <div class="row border pb-1 border-secondary rounded">
                <div class="col-auto">
                    <div class="mt-1">
                        <b>Category:</b><br>
                    </div>
                    <div class="mt-1 mb-4 mb-md-0">
                        <b>Condition:</b><br>
                    </div>
                    <div class="mt-1">
                        <b>Year of production:</b><br>
                    </div>
                    <div class="mt-1">
                        <b>Movement:</b><br>
                    </div>
                    <div class="mt-1">
                        <b>Location:</b>
                    </div>                  
                </div>
                <div class="col">
                    <div class="mt-1">{{ watch[0][12] }}</div>    
                    <div class="mt-1">{{ watch[0][3] }}</div>
                    <div class="mt-1">{{ watch[0][5] }}</div>
                    <div class="mt-1">{{ watch[0][6] }}</div>
                    <div class="mt-1">{{ watch[0][13] }}</div>                    
                </div>
            </div> -->
            
            <div class="mt-3 ml-3 pl-1">
                {% if watch[0][8]|length > 0 %}
                    <p class="mb-2"><b>More</b></p>
                {% endif %}
                <p>{{ watch[0][8] }}</p>
                <br>
                <h4 class="text-right">Price {{ watch[0][7] }} €</h4 class="text-right">
            </div>
        </div>        
    </div>

{% endblock %}

